$v-focus-color: rgb(65,66,67);
$vf-back: rgb(232, 229, 227);
$vf-selected: rgba(78, 119, 162, 1);
$vf-selected-color: rgba(0, 0, 0, 1);
$vf-menu-back: rgb(65,66,67) url(../base/img/sidebar-gradient.png) repeat-y top right;
$v-panel-background-color: $vf-back;

@import "../base/base";

.brown {
    @include base;
}
