@mixin menu-large {
  .menu-large {
    background: $vf-menu-back;
  }

  .menu-large .dock-layout-content {
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    overflow-y: scroll;
  }

  .menu-large .dock-layout-content-inner {
    overflow-y: scroll;
  }

  .menu-large .dock-layout-top {
    color: #fff;
  }

  .menu .dock-layout-top .logout-btn {
    color: #fff;
  }

  .menu-large .v-nativebutton .v-icon  {
    font-size: 40px;
  }

  .menu-large .v-nativebutton:before {
    font-size: 20px;
    line-height: 1;
    margin: 0;
  }
  .menu-large .v-nativebutton {
    -webkit-appearance: none;
    display: block;
    padding: 4px 0;
    width: 100%;
    border: none;
    margin: 0;
    position: relative;
    background: transparent;
    color: #999;
    text-align: center;
  }
  .menu-large .v-nativebutton.selected {
    color: #fff;
    background: #333;
  }

  .menu-large:after {
    content: "";
    display: block;
    height: 0;
  }

  .menu-large .v-nativebutton-caption {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin: .2em 0 0 0;
  }

  .menu-large .v-nativebutton:focus {
    outline: none;
  }

  .menu-large .v-nativebutton:hover,
  .menu-large .v-nativebutton:focus {
    color: #e1e1e1;
    background: #333;
  }

  .menu-large .v-nativebutton:before {
    font-size: 20px;
    line-height: 1;
    margin: 0;
  }
}
